/*

    patch css elements of daux.io blue theme
    version 2022-11-14

*/

:root {

    /* Axels Overrides */
    --link-color: #379;
    --brand-color: var(--color-secondary);
    --brand-background: var(--body-background);
    --hr-color: none;

    --search-field-background: none;
    --search-field-border-color: none;

    --sidebar-background:var(--body-background);
    --sidebar-border-color: none;
    --sidebar-link-active-background: #e8f4f6;
    --sidebar-link-active-background: #eee;

    /* Axels custom values */
    --axel_bg-toc: var(--body-background);
    --axel_bg-toc-head: #f8f8f8;

    --axel_brand-background: none;
    --axel_brand-pre-background: #8ce;
    --axel_brand-pre-background-hover: #adf;

    --axel_h1_header: none;

    --axel_h1: #288;
    --axel_h1-bg: #fafafa;
    --axel_h1-bottom: 3px solid #8dd;
    --axel_h1: #aaa;
    --axel_h1-bg: none;
    --axel_h1-bottom: 3px solid none;
    --axel_h2: #27a;
    --axel_h2-bg: #fafafa;
    --axel_h2-bottom: 2px solid #8ce;
    --axel_h3: #838;
    --axel_h3-bottom: 1px solid #ddd;

    --axel_nav-bg:#fcfcfc;
    --axel_nav-buttomborder: #ddd;

    --axel_pre-background: #f8f8f8;
    --axel-th-background: #d0e0e8;
    --axel-article-nav-border-top: 2px dotted #ddd;
}

.dark {

    /* Axels Overrides */
    --color-text: #c0c0c0;
    --link-color: #6cd;

    --brand-color: var(--color-text);
    --brand-background: var(--body-background);
    --hr-color: none;
    --code-tag-background-color_: #bcc;

    --search-field-background: none;
    --search-field-border-color: none;

    --sidebar-background:var(--body-background);
    --sidebar-border-color: none;
    --sidebar-link-active-background: #333;

    /* Axels custom values */
    --axel_bg-toc: var(--body-background);
    --axel_bg-toc-head: #333;
    
    --axel_brand-background: none;
    --axel_brand-pre-background: #69a;
    --axel_brand-pre-background-hover: #6ab;

    --axel_h1_header: none;

    --axel_h1: #777;
    --axel_h1-bottom: 3px solid #444;
    --axel_h2: #666;
    --axel_h2-bottom: 2px solid #333;
    --axel_h3: #555;
    --axel_h3-bottom: 1px solid #333;

    --axel_h1: #288;
    --axel_h1-bg: #282828;
    --axel_h1-bottom: 3px solid #266;
    --axel_h2: #27a;
    --axel_h2-bg: #282828;
    --axel_h2-bottom: 2px solid #256;
    --axel_h3: #838;
    --axel_h3-bottom: 1px solid #333;

    --axel_nav-bg:#242424;
    --axel_nav-buttomborder: #555;
    --axel_pre-background: #bcc;

    --axel-th-background: #203038;
    --axel-article-nav-border-top: 2px dotted #234;
}

/* ---------- left side ---------- */

a.Brand::before {
	background: var(--axel_brand-pre-background);
    border-radius: 100%;
	color: #fff;
    font-family: arial;
	font-weight: bold;
	padding: 0.3em 0.3em;
	content: 'AH';
    margin-right: 0.4em;
    float: left;
}
a.Brand:hover::before {
	background: var(--axel_brand-pre-background-hover);
}
a.Brand {
	background: var(--axel_brand-background );
	font-size: 200%;
    height: 4em;
}

ul.Nav{
    border-bottom: 1px dashed var(--axel_nav-buttomborder);
    background: var(--axel_nav-bg);
}

/* ---------- page header: breadcrumb ---------- */

.Page__header{border: none;}
.Page__header a{color: var(--axel_h1_header);}
.Page__header h1{font-size: 1.3em;}

/* ---------- page content ---------- */

.s-content{padding-top: 1em;}
.s-content h1{background: var(--axel_h1-bg); color: var(--axel_h1); font-size: 200%; font-weight:bold; margin-top: 0em; border-bottom: var(--axel_h1-bottom);}
.s-content h2{background: var(--axel_h2-bg); color: var(--axel_h2); font-size: 180%; font-weight:bold; margin-top: 4em; border-bottom: var(--axel_h2-bottom);}
h2:first-of-type {margin-top: 0em;}
.s-content h3{background: var(--axel_h3-bg); color: var(--axel_h3); font-size: 150%; font-weight:bold; margin-top: 3em; border-bottom: var(--axel_h3-bottom);}
.s-content h4{margin: 0; font-size: 100%; text-align: center; background-color: rgba(0,0,0,0.05);padding: 0.3em;}
.s-content pre{
    background: var(--axel_pre-background);
}

/* FIX smaller fnt size in tables */
.s-content table {
	font-size: 1em;
}
.s-content table th{
    background: var(--axel-th-background);
}

.s-content h3 code{border: none; background: none; }

article nav{border-top: var(--axel-article-nav-border-top); margin-top: 8em;}
article nav .Paher__prev{position: fixed; left: }

/* ---------- classes ---------- */

.required{color:#a42;}
.optional{color:#888;}


/* ---------- classes ---------- */


/* ---------- TOC ---------- */
@media(min-width:1700px){
    .TableOfContentsContainer{
        position: fixed;
        right: 2em;
        top: 1em;
    }
}

.TableOfContentsContainer{
    background-color: var(--axel_bg-toc);
    padding: 0.5em;
}

.s-content .TableOfContentsContainer h4{
    background-color: var(--axel_bg-toc-head);
    border-top-left-radius: 1em;
	font-size: 1.2em;
    margin: 0;
}

.TableOfContentsContainer__content {
	border-width: 1px;
	font-size: 0.5em;

}
ul.TableOfContents ul{
	list-style-type: none;
    padding-left: 1em;
}
